/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //   background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
#navigation {
  /* 1. Navigation wrapper */
}
#highlighted {
  /* 2. Highlighted (below header) wrapper */
}
#content {
  /* 3. Content wrapper */
}
#content-below {
  /* 4. Content Below wrapper */
}
#footer {
  /* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}

@media screen and (max-width: 480px) {

  /* Main page titles */
  h1 {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  /* Service page title divider */
  .title-divider > span {
    font-size: 1.4rem;
  }

  .title-divider small {
    font-size: 0.9rem;
    line-height: 1.3;
    display: block;
  }

  /* Paragraph readability */
  p {
    font-size: 0.95rem;
  }

    /* Homepage feature/service titles */
  .feature-block h3,
  .feature-block h4,
  .feature-title,
  .service-box h3,
  .icon-box h3 {
    font-size: 1.1rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  /* Homepage feature descriptions */
  .feature-block p,
  .service-box p {
    font-size: 0.9rem;
    line-height: 1.4;
  }

 .feature-text-d h3 {
    font-size: 1.1rem;
  }

  .title {
    font-size: 1.1rem;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }
}