 .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .feature-block {
    flex-direction: column;
    text-align: center;
  }
  .feature-image-d {
    max-width: 260px; /* smaller max width on phones */
    margin-bottom: 1rem;
  }
  .flag-image-d {
    max-width: 38px; /* smaller max width on phones */
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .feature-text {
    padding: 0 1rem; /* reduce side padding */
  }
  
/* Base: make images fluid */
.feature-image-d {
  width: 100%;
  max-width: 260px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.feature-text-d {
    padding: 0 1rem; /* reduce side padding */
}

 /* Add a black background color to the top navigation */
.topnav {
  background: rgb(211,211,211);
  background: linear-gradient(0deg, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%); 
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c0c0c0;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #c0c0c0;
  color: f0f0f0;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    
    /* Hide all links by default on mobile */
  .topnav a:not(:first-child) {
    display: none;
  }

  /* Show hamburger icon */
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .feature-image-d {
    max-width: 180px; /* smaller icons on mobile */
    margin-bottom: 1rem;
  }
  
  .flag-image-d {
    max-width: 20px; /* smaller icons on mobile */
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .feature-text-d {
    padding: 0 1rem; /* reduce side padding */
  }
}